


<div class="container">
  
  <div class="row">
    <div class=" bg-light rounded form-group border border-dark col-xs-5 col-md-5">
    
      <ul class="list-group">
      Profile: 
        <li class="list-group-item"> <img src="{{profile?.picture}}" class="avatar profile-image" alt="avatar"></li>
        <li class="list-group-item"> Name: {{ userInfo?.firstName }} </li>
        <li class="list-group-item"> Email: {{ userInfo?.email }} </li>
        <li class="list-group-item"> Address: {{ userInfo?.address +"\n"+ userInfo?.city  +", "+ userInfo?.state +", "+ userInfo?.zipCode }}  </li>
        <li class="list-group-item"> Phone: {{userInfo?.number}} </li>
        <li class="list-group-item"> Objective: {{userInfo?.objective}} </li>
        <li class="list-group-item"> <i class="fas fa-file"></i> Resume: </li>
        <li class="list-group-item"> <i class="fas fa-camera"></i> Photo: </li>
        <li class="list-group-item">  <button #edit_info name="edit_info" class="btn-default btn-lg" (click)="open(content,edit_info)"> <i class="fas fa-pencil-alt"></i> Edit </button> </li>
      </ul> 
    </div>

    <div class="bg-light form-group border border-dark rounded col-xs-5 col-md-5 offset-md-2">
        <ul class="list-group">
            Socials: 
            <li class="list-group-item"> <i class="fab fa-linkedin-in"></i> {{socialInfo?.linkedin}} </li>
            <li class="list-group-item"> <i class="fab fa-twitter"></i> {{socialInfo?.twitter}}  </li>
            <li class="list-group-item">  <i class="fab fa-facebook"></i> {{socialInfo?.facebook}} </li>
            <li class="list-group-item"> <i class="fab fa-github"></i> {{socialInfo?.github}}  </li>
            <li class="list-group-item"> <i class="fas fa-globe">   </i> {{ socialInfo?.website }}</li>
            <li class="list-group-item">  <button #add_social name="add_social" class="btn-default btn-lg" (click)="open(content,add_social)"> <i class="fas fa-pencil-alt"></i> Edit </button> </li>
          </ul>   
    </div>
 


  

  </div>


<div class="row top-row">
   

    <div class="bg-light rounded form-group border border-dark col-xs-5 col-md-5">
       
        <ul class="list-group">
            Work Experience:
              <ul *ngFor="let exp of expInfo; let i=index">
                <li class="list-group-item"> Title: {{ exp.title }} </li>
                <li class="list-group-item"> Company: {{ exp.company }} </li>
                <li class="list-group-item"> Description: {{ exp.description }} </li>
                <li class="list-group-item"> StartDate: {{exp.startDate }}</li>
                <li class="list-group-item"> EndDate: {{ exp.endDate }} </li>
                <li class="list-group-item"> Current: {{exp.current ? "Yes": "No"}}</li>
               
                <button #edit_exp name="edit_exp" class="btn-default btn-sm" (click)="open(content,edit_exp,i)"> <i class="fas fa-pencil-alt"></i>Edit</button> 
                <button #delete_exp name="delete_exp" class="btn-default btn-sm" (click)="onDelete(delete_exp,i)"> <i class="fas fa-trash"></i>Delete</button> 
              </ul> 
           
            <li class="list-group-item"> </li>
            <li class="list-group-item"> 
              <button #add_exp name="add_exp"  class="btn-default btn-lg" (click)="open(content,add_exp)"> 
                <i class="fas fa-plus"> </i> Work Experience
              </button>
            </li>
            
          </ul>   
        <!-- Trigger the modal with a button -->
        
      </div>

    <div class="bg-light form-group border border-dark col-xs-5 col-md-5 offset-md-2">
        <ul class="list-group">
            Education:
            <ul *ngFor="let edu of eduInfo; let i=index">
                <li class="list-group-item"> School: {{ edu.schoolName }} </li>
                <li class="list-group-item"> Degree: {{ edu.degree }} </li>
                <li class="list-group-item"> Major: {{edu.major }} </li>
                <li class="list-group-item"> Description: {{edu.description}}</li>
                <li class="list-group-item"> StartDate: {{ edu.startDate }} </li>
                <li class="list-group-item"> EndDate: {{ edu.endDate }} </li>
                <li class="list-group-item"> InProgress: {{edu.inProgress ? "Yes": "No"}}</li>
                <button #edit_edu name="edit_edu" class="btn-default btn-sm" (click)="open(content,edit_edu,i)"> <i class="fas fa-pencil-alt"></i>Edit Education</button> 
                <button #delete_edu name="delete_edu" class="btn-default btn-sm" (click)="onDelete(delete_edu,i)"> <i class="fas fa-trash"></i>Delete Education</button> 
              </ul>
            <li class="list-group-item"> </li>
            <li class="list-group-item">  <button #add_edu name="add_edu" class="btn-default btn-lg" (click)="open(content,add_edu)"> <i class="fas fa-plus"></i>Add Education</button> </li>
        </ul>
    </div>
</div>

  <div class="row top-row">
      <div class="bg-light form-group border border-dark rounded col-xs-5 col-md-5">

          
          <ul class="list-group">
              Projects:
              <ul *ngFor="let project of projectInfo; let i=index">
                <li class="list-group-item"> Project Name: {{ project.projectName }} </li>
                <li class="list-group-item"> Description: {{ project.description }}</li>
                <li class="list-group-item"> Technologies: {{  project.technologies }} </li>
                <li class="list-group-item"> Links: {{ project.link }}</li>
                <li class="list-group-item"> StartDate: {{  project.startDate }}</li>
                <li class="list-group-item"> EndDate: {{  project.endDate }}</li>
                <button #edit_project name="edit_project" class="btn-default btn-sm" (click)="open(content,edit_project,i)"> <i class="fas fa-pencil-alt"></i>Edit</button> 
                <button #delete_project name="delete_project" class="btn-default btn-sm" (click)="onDelete(delete_project,i)"> <i class="fas fa-trash"></i>Delete</button> 
              </ul>
              <li class="list-group-item">  </li>
              <li class="list-group-item">  <button name="add_project"  #add_project class="btn-default btn-lg" (click)="open(content,add_project)"> <i class="fas fa-plus"></i>Add Project</button> </li>
            </ul>   
      </div>
  
      <div class="bg-light form-group border border-dark col-xs-5 col-md-5 offset-md-2">
          <ul class="list-group">
              Skills: 

              <ul *ngFor="let skill of skillInfo; let i=index">
                <li class="list-group-item"> School: {{ skill.skill }} </li>
                <li class="list-group-item"> Level: {{ skill.level }}</li>
                <button #edit_skill name="edit_skill" class="btn-default btn-sm" (click)="open(content,edit_skill,i)"> <i class="fas fa-pencil-alt"></i>Edit</button> 
                <button #delete_skill name="delete_skill" class="btn-default btn-sm" (click)="onDelete(delete_skill,i)"> <i class="fas fa-trash"></i>Delete</button> 
              </ul>
              <li class="list-group-item"> </li>
              <li class="list-group-item">  <button name="add_skill"  #add_skill class="btn-default btn-lg"  (click)="open(content,add_skill)"> <i class="fas fa-plus"></i>Add Skill</button> </li>
          </ul>
      </div>
    </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit(submitBtn); modal.close('Save Result')" >
        <div *ngIf="currentBtn.name=='add_skill'||currentBtn.name=='edit_skill'" class="form-group">
          <label for="skill">Skill Name </label>
          <input type="text" class="form-control" formControlName="skill" id="skill" required >
       
            <label for="level"> Level </label>
            <select class="form-control" formControlName="level">
                <option *ngFor="let level of levels" [value]="level">{{level}}</option>
            </select>
        </div>
        <div *ngIf="currentBtn.name=='add_project' || currentBtn.name=='edit_project'" class="form-group">
              <label for="projectName"> Project Name </label>
              <input type="text" class="form-control" formControlName="projectName" id="projectName" required >
              <label for="description"> Description </label>
              <textarea formControlName="description" class="form-control" rows=5 id="description"  required>
              </textarea>
              <label for="technologies"> Technologies </label>
              <textarea formControlName="technologies" class="form-control" rows=5 id="technologies"  required>
              </textarea>
              <label for="link"> Link </label>
              <input type="text" class="form-control" formControlName="link" id="link" required >
              <label for="start_date"> Start Date </label>
              <input type="date" class="form-control" formControlName="startDate" id="startDate" required >
              <label for="end_date"> End Date </label>
              <input type="date" class="form-control" formControlName="endDate" id="endDate" required >
        </div>
        <div *ngIf="currentBtn.name=='add_edu'||currentBtn.name=='edit_edu'" class="form-group">
            <label for="schoolName"> School Name </label>
            <input type="text" class="form-control" formControlName="schoolName" id="schoolName" required>
            <label for="degree"> Degree  </label>
            <input type="text" class="form-control" formControlName="degree" id="degree" required>
            <label for="major"> Major </label>
            <input type="text" class="form-control" formControlName="major" id="major" required>
            <label for="startDate"> Start Date </label>
            <input type="date" class="form-control" formControlName="startDate" id="startDate" required >
            <label for="endDate"> End Date </label>
            <input type="date" class="form-control" formControlName="endDate" id="endDate" required >
            <label for="description"> Description </label>
          <textarea formControlName="description" class="form-control" rows=5 id="description"  required>
          </textarea>
          <label for="inProgress"> In Progress </label>
          <input type="checkbox" class="form-control" formControlName="inProgress" id="inProgress" required >

      </div>


      <div *ngIf="currentBtn.name=='add_exp'||currentBtn.name=='edit_exp'" class="form-group">
          <label for="title"> Job Title </label>
          <input type="text" class="form-control" formControlName="title" id="title" required >
          <label for="company"> Company Name </label>
          <input type="text" class="form-control" formControlName="company" id="company" required >

          <label for="startDate"> Start Date </label>
          <input type="date" class="form-control" formControlName="startDate" id="startDate" required >
          <label for="endDate"> End Date </label>
          <input type="date" class="form-control" formControlName="endDate" id="endDate" required >

          <label for="description"> Description </label>
          <textarea formControlName="description" class="form-control" rows=5 id="description"  required>
            </textarea>
          <label for="current"> Current </label>
          <input type="checkbox" class="form-control" formControlName="current" id="current" required >

    
          
 
    </div>

    <div *ngIf="currentBtn.name=='edit_info'" class="form-group">
        <label for="firstName"> First Name: </label>
        <input type="text" class="form-control" formControlName="firstName" id="firstName">
        <label for="lastName">  Last Name: </label>
        <input type="text" class="form-control" formControlName="lastName" id="lastName">
        <label for="email"> <i class="fas fa-envelope"></i> Email: </label>
        <input type="email" readonly class="form-control" formControlName="email" id="email">
        <label for="address">  Street Adress: </label>
        <input type="text" class="form-control" formControlName="address" id="address">
        <label for="city">  City: </label>
        <input type="text" class="form-control" formControlName="city" id="city">
        <label for="state"> State: </label>
        <input type="text" class="form-control" formControlName="state" id="state">
        <label for="zipCode">  Zip Code: </label>
        <input type="numeric" class="form-control" formControlName="zipCode" id="zipCode">
        <label for="phoneNumber">  Phone: </label>
        <input type="tel" class="form-control" formControlName="number" id="phoneNumber">
        <label for="objective">  Objective: </label>
        <textarea class="form-control" formControlName="objective" rows=5  id="objective"></textarea>
        <label for="resume">  Resume: </label>
        <input type="file" class="form-control" formControlName="resume" id="resume">
        <label for="profileImage"> Profile Photo: </label>
        <input type="file" class="form-control" formControlName="profileImage" id="profileImage">
  </div>
     
  <div *ngIf="currentBtn.name=='add_social'" class="form-group">
      <label for="linkedin"> <i class="fab fa-linkedin-in"></i> </label>
      <input type="text" class="form-control" formControlName="linkedin" id="linkedin">
      <label for="twitter"> <i class="fab fa-twitter"></i> </label>
      <input type="text" class="form-control" formControlName="twitter" id="twitter">
      <label for="facebook"> <i class="fab fa-facebook"></i> </label>
      <input type="text" class="form-control" formControlName="facebook" id="facebook">
      <label for="github"> <i class="fab fa-github"></i> </label>
      <input type="text" class="form-control" formControlName="github" id="github">
      <label for="website"> <i class="fas fa-globe"></i> </label>
      <input type="text" class="form-control" formControlName="website" id="website">
</div>
        <button #submitBtn type="submit" class="btn btn-dark"> <i class="fas fa-pencil-alt"></i> Save </button>
    </form>

  </div>
  <div class="modal-footer">
    
  </div>
</ng-template>


<hr>



