<style>

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-item {
  background: #586F7C;
  padding: 10px;
  border: 5px solid #ffffff;
  
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.flex1 { flex: 1 1 20em; }
.flex2 { flex: 2 2 20em; } 



</style>
<div *ngIf="user" class="flex-container" style="padding-top: 65px">
 <h2> {{ user.firstName }}'s Profile </h2>
<div class="flex-item flex1">
    <div>
        <div (click)="menuOption('Personal')" class="border my-btn-primary">
          <h2> Personal Information </h2>
        </div>
        <div (click)="menuOption('Education')" class="border my-btn-primary">
          <h2> Education </h2>
        </div>
        <div (click)="menuOption('Experience')" class="border my-btn-primary">
          <h2> Work History </h2>
        </div>
        <div (click)="menuOption('Social')"  class="border my-btn-primary">
          <h2> Social Media </h2>
        </div>
        <div (click)="menuOption('Skill')"  class="border my-btn-primary">
            <h2> Skills </h2>
        </div>
        <div (click)="menuOption('Project')"  class="border my-btn-primary">
            <h2> Projects </h2>
        </div>
       
             
          </div>
         
    </div>

    <div class="flex-item flex2">
    
        <div *ngIf="userForm" [ngSwitch]="option">
  
            <div  *ngSwitchCase="'Personal'">
              <div *ngIf="user" class="border border-light my-btn-primary">
                  <h2> Personal Information </h2>
                  <form [formGroup]="userForm">
                  <ul   class="my-primary list-group">
                      Profile: 
                        <li class="list-group-item rounded-0"> <img src="{{profile?.picture}}" class="avatar profile-image" alt="avatar"></li>
                        <li class="list-group-item"> 
                          <label for="firstName"> First Name: </label>
                          <input type="text" readonly="{{editMode}}" value="{{user.firstName}}" class="form-control" formControlName="firstName" id="firstName">
                        </li>
                        <li class="list-group-item"> Email: {{ userInfo?.email }} </li>
                        <li class="list-group-item"> Address: {{ userInfo?.address +"\n"+ userInfo?.city  +", "+ userInfo?.state +", "+ userInfo?.zipCode }}  </li>
                        <li class="list-group-item"> Phone: {{userInfo?.number}} </li>
                        <li class="list-group-item"> Objective: {{userInfo?.objective}} </li>
                        <li class="list-group-item"> <i class="fas fa-file"></i> Resume: </li>
                        <li class="list-group-item"> <i class="fas fa-camera"></i> Photo: </li>
                        <li class="list-group-item rounded-0">  <button #edit_info name="edit_info" class="my-btn-primary btn-lg" (click)="enableEdit()"> <i class="fas fa-pencil-alt"></i> Edit </button> </li>
                 </ul>
                </form>
              </div>
            </div>
            <div *ngSwitchCase="'Education'">
                <div class="border border-light my-btn-primary">
                    <h2> Education </h2>
                </div>
            </div>
            <div *ngSwitchCase="'Experience'">
                <div class="border border-light my-btn-primary">
                    <h2> Work History </h2>
                </div>
            </div>
            <div *ngSwitchCase="'Social'">
                <div  class="border border-light my-btn-primary">
                    <h2> Social Media </h2>
                </div>
            </div>
            <div *ngSwitchCase="'Skill'">
                <div class="border border-light my-btn-primary">
                    <h2> Skills </h2>
                </div>
            </div>
      
            <div *ngSwitchCase="'Project'">
                <div class="border border-light my-btn-primary">
                    <h2> Projects </h2>
                </div>
            </div>
          
        </div>

  </div>
  </div>




