<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">360 Search</a>
 
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
        <a class="nav-link" routerLink="/">
          Home
        </a>

       
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01"  ngbDropdownToggle>Support</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/support">Email us!</a>
          <a class="dropdown-item" routerLink="/chat">Chat with us!</a>
        </div>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01"  ngbDropdownToggle>Jobs</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
       
      <div *ngIf="perm=='admin'"  >
          <div>
              <a class="dropdown-item" routerLink="/my_jobs">My Jobs</a>
          </div>
     
          <a class="dropdown-item" routerLink="/posting">Create a Job</a>
      </div>

      <div *ngIf="perm!='admin'"  >
      <a class="dropdown-item" routerLink="/view_jobs">View Jobs</a>
      </div>


      </div>
      </li> 
     
   
      <a

      id="qsLoginBtn"
      class="nav-link"
      *ngIf="!auth.isAuthenticated()"
      (click)="auth.login()">
        Login
      </a>

    
      <div *ngIf="perm=='user'">
        <a  class="nav-link" routerLink="/profile">
          Profile   
        </a>
      </div>



      <a class="nav-link" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
          <i class="fas fa-user"> </i> Log Out: {{username}}

      </a>
    </ul>
  </div>
</nav>

<div class="container border" style="margin-top: 5%">
    <form   [formGroup]="searchForm" (ngSubmit)="onSubmit(submitBtn)" >
      <div class="form-group row">
        <div class="col-xs-3 col-md-3">
        <label for="keyword"> </label>
        <input  placeholder="Keyword" type="text" class="form-control" formControlName="keyword" id="keyword" required >
        <div *ngIf="searchForm.controls['keyword'].invalid && (searchForm.controls['keyword'].dirty)"  
        class="alert alert-danger">
          Keyword is required
        </div>
        </div>
    
        <div class="col-xs-3 col-md-3 offset-md-1">
        <label for="location">  </label>
        <input placeholder="Location" type="text" formControlName="location" class="form-control" id="location" required>
        </div>
        <div class="hidden-lg hidden-md hidden-sm">&nbsp;</div>
        <div style="display : flex; align-items : center;" class="col-xs-3 col-md-3 offset-md-1">
          <button #submitBtn type="submit" class="button-align btn btn-lg btn-dark"> <i class="fa fa-search-plus" aria-hidden="true"></i>Search </button>
        </div>
      </div>
    </form>
    
</div>





<main class="container">
  <router-outlet></router-outlet>
</main>
