
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">360 Search  <i class="fa fa-globe" style="font-size:48px;color:red"></i></a>

      <button
        class="btn btn-primary btn-sm"
        routerLink="/">
          Home
      </button>
&nbsp;
&nbsp;



&nbsp;


      <button
        class="btn btn-primary btn-sm"
        *ngIf="auth.isAuthenticated()"
        routerLink="/profile">
          Profile
      </button>
&nbsp;

&nbsp;
&nbsp;

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Contact Us</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" routerLink="/support">Email Us <i class='fa fa-envelope'></i></button>
        <button class="dropdown-item" routerLink="/chat">Live Chat with us <i class='fa fa-comment'></i></button>

      </div>
    </div>
  </div>






      <button

        id="qsLoginBtn"
        class="btn btn-primary btm-sm"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Login
      </button>

 <button

        class="btn btn-primary btn-sm"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out <h3 class="nickname">{{ profile?.nickname }}</h3>
      </button>
    </div>
  </div>


<main class="container">
  <router-outlet></router-outlet>
</main>

