<h1 class="my-light"> Create a Job Posting </h1>
<mat-horizontal-stepper [linear]="true" #stepper completed=true>
    <mat-step [stepControl]="formGroup.controls.job">
      <form class="form-group" [formGroup]="formGroup.controls.job">
        <div class="form-group">
        <ng-template matStepLabel>Fill out the job information</ng-template>
        <mat-form-field class="col-12">
          <input matInput placeholder="Job Title" formControlName="title" required>
        </mat-form-field><br>
        <mat-form-field class="col-12">
            <textarea placeholder="Job Description" type="text" class="form-control" matInput row=5 formControlName="description" required></textarea>
        </mat-form-field><br>
        <mat-form-field class="col-12">
            <input type="text" placeholder="Job Location" class="form-control" matInput formControlName="location" required>
        </mat-form-field><br>
        <mat-form-field class="col-12">
            <input type="number" placeholder="Start Compensation" class="form-control" matInput formControlName="startCompensation">
        </mat-form-field><br>
        <mat-form-field class="col-12">
            <input type="number" placeholder="End Compensation" class="form-control" matInput formControlName="endCompensation">
        </mat-form-field><br>
    
        <mat-form-field class="col-12">
            <input type="text" placeholder="Employment Type" class="form-control" matInput formControlName="employmentType" required>
        </mat-form-field>
        

        <div>
          <button class="btn-lg my-btn-primary" mat-button matStepperNext> <i class="fas fa-arrow-right"> </i> </button>
        </div>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup.controls.questions" [optional]="true">
        <button class="btn-lg my-btn-primary" (click)="addQuestion()"> <i class="fas fa-plus"> </i> </button>
        <form [formGroup]="formGroup">
          <div formArrayName="questions" >
              <div class="row" *ngFor="let quest of formGroup.get('questions').controls; let i=index">
                  <mat-form-field class="col-11" [formGroupName]="i">
                      <input type="text" matInput placeholder="question" formControlName="question">
                  </mat-form-field>
                  <button class="col-1 btn-lg my-btn-primary" (click)="removeQuestion(i)"> <i class="fas fa-trash"> </i> </button>
              </div>
          </div>
          </form>
          

        <div>
          <button class="btn-lg my-btn-primary" mat-button matStepperPrevious> <i class="fas fa-arrow-left"> </i>  </button>
          <button class="btn-lg my-btn-primary" mat-button matStepperNext><i class="fas fa-arrow-right"> </i> </button>
      </div>
      
    </mat-step>
    
     
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
          You are now done.
      <div>

        <button class="btn-lg my-btn-primary" mat-button matStepperPrevious type="button">Back</button>
        <button #submitBtn class="btn btn-success" (click)="onSubmit(submitBtn)"> Submit </button>

        <div *ngIf="submitted==1" class="alert alert-success">
            Job Post Sucessfully Created!
        </div>
        <div *ngIf="submitted==-1" class="alert alert-danger">
            Could Not Create Job Post!
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
