{{ diagnostic }}





<mat-horizontal-stepper [linear]="true" #stepper completed=true>
    <mat-step [stepControl]="formGroup.controls.job">
      <form class="form-group" [formGroup]="formGroup.controls.job">
        <div class="form-group">
        <ng-template matStepLabel>Fill out the job information</ng-template>
        <mat-form-field>
          <input matInput placeholder="Job Title" formControlName="title" required>
        </mat-form-field><br>
        <mat-form-field>
            <textarea placeholder="Job Description" type="text" class="form-control" matInput row=5 formControlName="description" required></textarea>
        </mat-form-field><br>
        <mat-form-field>
            <input type="text" placeholder="Job Location" class="form-control" matInput formControlName="location" required>
        </mat-form-field><br>
        <mat-form-field required>
            <input type="numeric" placeholder="Start Compensation" class="form-control" matInput formControlName="start_compensation">
        </mat-form-field><br>

            <mat-form-field>
            <input type="numeric" placeholder="End Compensation" class="form-control" matInput formControlName="end_compensation">
        </mat-form-field><br>


        <mat-form-field>
            <input type="text" placeholder="Employment Type" class="form-control" matInput formControlName="employment_type" required>
        </mat-form-field>
<button class="btn btn-outline-dark" (click)="open(content)"> Submit </button>

        <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Job Description</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert-success">
    <p>If you want to submit this job, press save and close </p>
  </div>
  <div class="modal-footer">
  <button (click)="save()" > Submit </button>
 
  </div>
</ng-template>


 <button class="btn btn-dark"  mat-button matStepperNext>Next</button>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup.controls.questions" [optional]="isOptional">
     
        <form [formGroup]="formGroup">
          <div formArrayName="questions">
          <div class="form-group">
            <button class="btn btn-dark" (click)="addQuestion(i)"> Add Question </button>




          </div>
          <div *ngFor="let quest of formGroup.controls.questions.controls; let i=index"  [formGroupName]="i">
            <ng-template matStepLabel>Questions to ask candidates</ng-template>
            <mat-form-field>
              <input matInput placeholder="Question" formControlName="question">
            </mat-form-field>
         
        <button  class="btn btn-danger" (click)="removeQuestion(i)"> Remove Question </button>
          </div>
        <div>
          <button class="btn btn-dark" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-dark" (click)="done()" mat-button matStepperNext>Next</button>
        </div>
      </div>
    </form>
  
        
    </mat-step>
    
     
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
          You are now done.
      <div>
        <button class="btn btn-dark " mat-button matStepperPrevious type="button">Back</button>
        <button #submitBtn class="btn btn-success" (click)="onSubmit(submitBtn)"> Submit </button>

        <div *ngIf="submitSuccess==true" class="alert alert-success">
            Job Post Sucessfully Created!
        </div>
        <div *ngIf="submitFail" class="alert alert-danger">
            Could Not Create Job Post!
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
