<!-- <p>
  {{messages | json}}
  {{fromUsers | json}} 
</p> -->
<style>

.wrapper { 
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #09345b;
  } 
  
  .box1 { 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3; 
    background : #09345b;
  }
  
  .box2 { 
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2; 
    background : #ffffff;
  }
  
  .box3 { 
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3; 
    background : #ffffff;
  }


</style>

    
    <div class="wrapper">
      <div class="box1">
          <div class=" my-primary" style="overflow-y: scroll; height:400px;">  
              <div *ngFor="let fromUser of fromUsers; let i = index">
                <div  class="row border" *ngIf="fromUser.id!=user.id" class="my-primary" (click)="displayMessage(fromUser.id)">
                  <div class="row border">
                    <div class="col-8 align-middle">
                      <p  class="align-middle text-light">{{ email(fromUser.id) }}</p> 
                    </div>
                  <div class="col-4">
                    <i style="float: right" class="fas fa-user fa-6x my-light"></i>
                  </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="box2">

          <div id="messageDIV"  style="overflow-y: scroll; height:400px;">
              <div *ngFor="let message of currentMessages; let i = index" >
               
                <div *ngIf="message.fromUser==myId()">
                    <span > {{ date(message.sentAtDate)   }} </span>
                    <div class="alert alert-primary"> {{message.message}} </div>
                </div>
                <div *ngIf="message.toUser==myId()">
                    <span >{{ date(message.sentAtDate) }}  </span>
                    <div class="alert alert-success"> {{message.message}} </div>
                </div>
              </div>
            </div>
          


      </div>
      <div class="box3">


          <div >
              <form [formGroup]="messageForm"   (ngSubmit)="onSubmit(submitBtn)">
                  <textarea formControlName="message" class="form-control rounded-0" rows=7 id="message"  required>
                  </textarea>
                <button style="width: 100%" #submitBtn type="submit" class="my-btn-primary btn-lg">Send Message</button>
              </form>
            </div>
          
          
          </div>




      </div>
 





<!-- {{ diagnostic }}
{{currentMessages | json}}
 -->


